@media only screen and (max-width: 560px) {
    body {
        font-size: 11px;
    }

    .cust-radio-btn > .inner-circle {
        top : -2px;
    }

    .more:before {
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }

    ol > li:before {
        width: 20px;
        height:20px;
        border-radius:10px;
        padding: 4px 2px;
    }
}

@media only screen and (max-width: 442px) {
    .indent-32 {
        padding-left:0px;
    }
}

@media only screen and (max-width: 341px) {
    .btn-regular {
        max-width: 30%;
    }
}
