<div class='book-promo'>
    <div class="close" id="promo-close">
        <img src="/assets/images/close_icon.png" />
    </div>
    <div class="promo-content">
        <p>
            <img class='announce-icon' src="/assets/images/announcment_icon.png">
        </p>
        <p>
            <strong>
                Enjoying your reading?
            </strong>
        </p>
        <p>
            I'm writing a book!
        </p>
        <p class="super-extra-top-margin">
            <a class='book-promo-link' href="/how-machine-learning-works" target="_blank">Check it out</a>
        </p>
    </div>
</div>

<div class='book-promo-mobile'>
    <div class="mobile-promo-content">
        <p>
            <a href="/how-machine-learning-works" target="_blank">
                Hello There! I'm writing a book, <u>check it out here</u>.
            </a>
        </p>
    </div>
    <div class="mobile-close" id="mobile-promo-close">
        <img src="/assets/images/mobile_close_icon.png" />
    </div>
</div>
<script src="/assets/js/book-promo.js"></script>